<%- include("../partials/header") -%>
<link rel="stylesheet" href="/css/form.css">
<link rel="stylesheet" href="/css/navbar.css">
  <title>Admin Add location</title>
</head>
<body>
  <%- include("adminpartials/adminnavbar") -%>
  <div class="container content">
    <h1><%=Message %></h1>
    <h1 id="error"></h1>
    <form id="serviceform">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="serviceName" class="required">Service Name</label>
          <input type="text" class="form-control" id="serviceName" placeholder="Service Name" name="servicename" required>
        </div>
        <div class="form-group col-md-12">
          <label for="Description" class="required">Description</label>
          <input type="text" class="form-control" id="Description" placeholder="Description" name="description" required>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck" required>
          <label class="form-check-label" for="gridCheck">
            Check ME to Confirm
          </label>
        </div>
      </div>
      <button type="submit" id="submit" class="btn btn-primary">Confirm</button>
    </form>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="/javascript/addservice.js"></script>
</html>