<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

</body>

<link rel="stylesheet" href="/css/footer.css">

<footer>

    <div class="footer wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="newsletter">
                        <h2>ABOUT US</h2>
                        <div class="logo">
                            <a href="https://www.exppresscarwash.com/">
                                <img src="https://www.exppresscarwash.com//assets/img/white-logo.png" alt="Logo">
                            </a>
                        </div>
                        <br>
                        <p>Exppress Car Wash is dedicated in car cleaning and solutions.
                        </p>
                       <!--  <div class="form">
                            <input class="form-control" placeholder="Email here">
                            <button class="btn">Submit</button>
                        </div> -->
                    </div>  
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-link">
                        <h2>IMPORTANT LINKS</h2>
                                <a href="https://www.exppresscarwash.com/why-exppress-car-wash">Why Exppress Car Wash</a>
                                <a href="https://www.exppresscarwash.com/opticoat">Opticoat</a>
                                <a href="https://www.exppresscarwash.com/locateOurOutlets">Locate Our Outlets</a>
                                <a href="https://www.exppresscarwash.com/career">Career</a>
                                <a href="https://www.exppresscarwash.com/blog">Blog</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-link">
                        <h2>SERVICES</h2>
                        <a href="https://www.exppresscarwash.com/cleaning-process">Cleaning Process</a>
                        <a href="https://www.exppresscarwash.com/Programs">Car Wash Programs</a>
                        <a href="https://www.exppresscarwash.com/car-detailing">Car Detailing</a>
                        <a href="https://www.exppresscarwash.com/rubbing-and-waxing">Car Polishing</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3" style="padding-right:0px">
                    <div class="footer-contact">
                        <h2>Office Contact</h2>
                        <p><i class="fa fa-map-marker-alt"></i> E-98, Sector- 6, Noida – 201301, U.P, India</p>
                        <p><a href="tel:80100440000" style="color:white"><i class="fa fa-phone-alt"></i>+80-100-44000</a></p>
                        <p><a href="mailto:info@exppresscarwash.com" style="color:white"><i class="fa fa-envelope"></i>info@exppresscarwash.com</a></p>
                        <div class="footer-social">
                            <a href="https://api.whatsapp.com/send?phone=919289444440" class="whatsapp"><i class="fab fa-whatsapp"></i></a>
                            <a href="https://www.facebook.com/Exppresscarwashservice" class="facebook"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.youtube.com/user/exppresscarwash" class="youtube"><i class="fab fa-youtube"></i></a>
                            <a href="https://www.instagram.com/accounts/login/?next=/exppresscarwash/" class="instagram"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/company/exppress-car-wash/" class="linkedin-in"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container footer-menu">
            <div class="f-menu">
                <a href="#">Terms of use</a>
                <a href="#">Privacy policy</a>
                <a href="#">Cookies</a>
                <a href="#">Help</a>
                <a href="https://www.exppresscarwash.com/ecw-franchise-faq">FAQs</a>
            </div>
        </div>
        <div class="container copyright">
            <div class="row">
                <div class="col-md-6">
                    <p>© <a href="https://www.exppresscarwash.com/">www.exppresscarwash.com</a></p>
                </div>
                 <div class="col-md-6">
                    <p>Designed By <a href="https://www.exppresscarwash.com/">Exppress Car Wash</a></p>
                </div>
            </div>
        </div>
    </div>

</footer>
</html>