<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

</body>

<link rel="stylesheet" href="/css/footer.css">

<footer>

    <div class="footer wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <h3>ABOUT US</h3>
                    <div class="logo">
                        <img class="logo-img" src="/assets/logo.png" alt="Logo" srcset="">
                    </div>
                    <p class="footer-para">Car Wash is dedicated in car cleaning and solutions.</p>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-link">
                        <h3>IMPORTANT LINKS</h3>
                        <ul>
                            <li>Why Exppress Car Wash</li>
                            <li>Opticoat</li>
                            <li>Locate Our Outlets</li>
                            <li>Career</li>
                            <li>Blog</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-link">
                        <h3>SERVICES</h3>
                        <ul id="services-list">
                            <li>Cleaning Process</li>
                            <li>Car Wash Programs</li>
                            <li>Car Detailing</li>
                            <li>Car Polishing</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3" style="padding-right:0px">
                    <div class="footer-contact">
                        <h3>Office Contact</h3>
                        <ul>
                            <li>JNTUH - UCES Sultanpur</li>
                            <li>+91-XXXXX-XXXXX</li>
                            <li>info@carwash.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

</footer>
</html>