
<style>
.whatappbtn{
  position: fixed;
  float: right;
  margin: 0;
}
</style>

<a  id="vert" class="whatappbtn btn" href="//api.whatsapp.com/send?phone=918978902005&text=Say Hello" title="Share on whatsapp"><img height="70px" width="70px" src="/assets/whatsapp.png" alt="" srcset=""></a>