

<%- include("partials/header") -%>

<link rel="stylesheet" href="/css/bookaservice.css">
<link rel="stylesheet" href="/css/form.css">
</head>
<body>
  <% if(Authenticated){ %>

    <%- include('partials/afterloginnavbar'); -%>

  <% } else { %>

      <%- include('partials/navbar'); -%>

   <% } %>

   <div class="container content">
    <h1>Book a service</h1>

    <div>
      Search based on city
    </div>
    <div class="input-group">
      <div class="text-container">
        <input type="text" id="location" list="locations" 
                    placeholder="Enter Here" name="location" class="form-control"/>
        <a class="btn btn-primary" href="#fillform">Submit</a>
        <datalist id="locations"  style="overflow-y: auto!important">
        </datalist>
      </div>
    </div>
      
    </div>
    <div>
      (or)
    </div>
    <div>
      Search based on your location
    </div>
    <button class="btn btn-primary" onclick="getLocation()">Use your Location</button>
    
    <p>Please allow the website to use your location</p>
    <form id="fillform">
      <div class="form-group">
        <div class="text-container">
          <label  class="required" for="service">Service</label>
          <input type="text" list="services" 
                      placeholder="Enter Here" name="service" class="form-control"/>
          <datalist id="services"  style="overflow-y: auto!important">
          </datalist>
        </div>
        <label class="required">Date</label>
        <input id="date" type="date" class="form-control" aria-describedby="emailHelp" name="date" required>
      </div>
      <div class="form-group">
        <input type="radio" name="time" value="8:00 AM" />
        <label for="time">8:00 AM</label>
        <input type="radio" name="time" value="10:00 AM" />
        <label for="time">10:00 AM</label>
        <input type="radio" name="time" value="2:00 PM" />
        <label for="time">2:00 PM</label>
        <input type="radio" name="time" value="4:00 PM" />
        <label for="time">4:00 PM</label>
        <input type="radio" name="time" value="6:00 PM"/>
        <label for="time">6:00 PM</label>
      <p id="slotserror"></p>
      <button type="submit" id="submit" class="btn btn-primary">Submit</button>
    </form>
   </div>
 

</body>

<script src="/javascript/bookaservice.js"></script>
</html>