<%- include('partials/header'); -%>

<link rel="stylesheet" href="/css/styles.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


<title>Home</title>
</head>
<body>
  <% if(Authenticated){ %>

    <%- include('partials/afterloginnavbar'); -%>

  <% } else { %>

      <%- include('partials/navbar'); -%>

   <% } %>
    
   <!--- Carousal -->
   <div class="container content">

   <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true"  data-bs-interval="1500">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/home_cover.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/home_cover_2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/home_cover_3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!--- Cards -->

  <div id="cards">
		<div class="container">
			<div class="card-body">
				<div>
					
					<h2>Smart Technology</h2>
					<p>In just 20 minutes get clean, shinny and sparkling Car!!</p>
					<!--<a href="#">Learn more</a>-->
				</div>
				<div>
					
					<h2>Quality Work</h2>
					<p>Our brand is changing the way people think about car cleaning.</p>
					<!--<a href="#">Learn more</a>-->
				</div>
				<div>
				
					<h2>Franchising</h2>
					<p>We provide all the resources and tools which will help you get started and succeed.</p>
					<!--<a href="#">Learn more</a>-->
				</div>
			</div>
		</div>
	</div>
  </div>
  

<div class="welcome">
    <h2>Welcome to Car Wash</h2>
  </div>
</div>

<div class="facts card-flex">
  <div class="workers card-flex fact-cards">
    <img class="facts-icons" src="/assets/worker.png" alt="">
    <div>
      <h5>400</h5>
      <p>EXPERT WORKERS</p>
    </div>
  </div>
  <div class="workers card-flex fact-cards">
    <img class="facts-icons" src="/assets/clients.png" alt="">
    <div>
      <h5>1050</h5>
      <p>HAPPY CLIENTS</p>
    </div>
  </div>
  <div class="workers card-flex fact-cards">
    <img class="facts-icons" src="/assets/running_outlets.png" alt="">
    <div>
      <h5>70</h5>
      <p>RUNNING OUTLETS</p>
    </div>
  </div>
  <div class="workers card-flex fact-cards">
    <img class="facts-icons" src="/assets/upcoming_outlets.png" alt="">
    <div>
      <h5>10</h5>
      <p>UPCOMING OUTLETS</p>
    </div>
  </div>
</div>


<div id="about">
  <div class="container description">
    <div class="row">
      <div class="desc-img">
        <img src="/assets/temp_img.png" >
      </div>
      <div class="desc-text">
        <h1 class="sub-title">Efficient Cleaning Company</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat, sit? Sit quasi dicta numquam quia
           rerum exercitationem repellendus magnam nulla, 
          vel id ad at explicabo dolorum debitis suscipit doloremque harum. by members along with their due dates. 
          This system completely automates all your library's activities.
        </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<div class="description card-flex">

  <div class="text">
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing.</h5>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat, sit? Sit quasi dicta numquam quia rerum exercitationem repellendus magnam nulla, vel id ad at explicabo dolorum debitis suscipit doloremque harum.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, cumque. Illo a dolor sapiente commodi aliquid. Harum iste dicta quasi qui est laborum reiciendis. Fuga autem dolorum officiis natus explicabo.    
    </p>
  </div>
  <div class="desc-img">
    <img class="image-decoration" src="/assets/temp_img.png" alt="">
  </div>
</div>

-->

<script src="/javascript/home.js"></script>
<%- include('partials/footer'); -%>