<%- include('partials/header'); -%>

<title>Home</title>
</head>
<body>

  <a href="/auth/login">Login</a>
  <a href="/auth/signup">Signup</a>

  <h1><%= Message %></h1>

  
<%- include('partials/footer'); -%>