
<%- include('partials/header'); -%>

<link rel="stylesheet" href="/css/form.css">

<title>Login</title>
</head>
<body>

  <%- include('partials/navbar'); -%>
  <div class="container content">

  
  

  <form action=<%= Route %> method="post">
    <h1><%= Message %></h1>
    <div class="form-group">
      <label class="required">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="username" required>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label class="required">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required>
    </div>
    <div class="form-group">
      <a href="/auth/signup">Dont have an account?</a>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</html>
  
