form {
  font-size: medium;
  height: auto;
  width: 50%;
  padding: 5%;
  background-color: rgb(245, 245, 245);
  border-radius: 10%;
}

.required:after {
  content:" *";
  color: red;
}

.content{
  margin-top: 6%;
  display: flex;
  justify-content: center;
}

.sbtbtn,.heading{
  text-align: center;
}

h1 {
  background-image: linear-gradient(to left, #000000, #0738cd);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.form-group{
  margin-top: 8px;
}