/* .container{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  padding-top: 20px;
  
} */
table {
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin-top: 9%;
}

.container {
  text-align: center;
  width: 100%;
}

.card {
  border-radius: 10%;
}

.no-click {
  pointer-events: none;
}

.div1,
.div2 {
  vertical-align: top;
}
.div1 {
  float: left;
  width: 70px;
}
.div2 {
  display: table-cell;
}
.div3 {
  display: table-cell;
}
