
.card-flex{
  display: flex;
  padding-left: 17%;
  z-index: -1;
}

.content{
  margin-top: 5%;
  
}


.container{
  text-align: center;
  width: 100%;
}

.welcome{
  height: 5rem;
  background-color: rgb(29, 28, 28);
  color: white;

  padding: 1.5%;

}

.description{
  margin-top: 3%;
  background-color: rgb(245, 245, 245);

}

.image-decoration{
  width:200px;
  height: 200px;
}